html
{
    font-size: 10px;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

:root
{
    --white: #ffffff;
    --footer-background:#333;
    --light-gray: #cccccc;
    --mid-gray: #888888;
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2.5rem;
}

a
{
    text-decoration: none;
    color: var(--light-gray);
}
