#footer h3 {
  border-bottom: 1px solid var(--mid-gray);
  padding: 1rem 0;
  margin: 1rem 0;
  color: var(--white);
  font-size: 2rem;
}

#footer p {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--mid-gray);
  font-size: 1.5rem;
}

#footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  width: 100%;
  background-color: var(--footer-background);
}

#footer img {
  object-fit: cover;
  margin: 0.5rem 1rem;
  width: auto;
}

.foot-info {
  display: flex;
  margin: 2.5rem 10vw;
}

.foot-keban {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 5vw;
  align-items: center;
  border-bottom: 0.5px solid var(--mid-gray);
}

.foot-certif {
  display: flex;
  margin: 0 2rem;
  padding: 1rem 0 6rem 0;
  justify-content: center;
  position: relative;
}

#local-certif {
  position: absolute;
  right: 0;
  transform: translateY(50%);
}

.foot-keban > * {
  padding: 0.5rem 0;
}

.fo-sub-info {
  flex: 1;
  margin: 1rem 2rem;
  padding: 0 2rem;
}

.fo-img > img {
  height: 3rem;
  vertical-align: middle;
}

.etbis > img {
  height: 12rem;
}

#local-certif > img {
  height: 2.5rem;
  margin: 0 1rem;
}

.fl-parent {
  display: flex;
  flex-flow: column nowrap;
}

.footer-links {
  font-size: 1.3rem;
  line-height: 3rem;
  margin: 0 1rem;
}

#fo-sub-contact li {
  color: var(--mid-gray);
  font-size: 1.5rem;
  margin: 0 1rem 1rem 1rem;
}

.sub-contact-icon {
  color: var(--light-gray);
  margin-right: 0.8rem;
}

#fo-sub-social {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
}

#fo-sub-social > li > a > * {
  width: 3rem;
  height: 3rem;
  color: var(--mid-gray);
  margin: 0 0.7rem;
}

#rights p {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .fo-sub-info {
    margin: 1rem 0.1rem;
    padding: 0 2rem;
  }
}

@media (max-width: 1200px)
{
  .foot-info
  {
    margin: 2.5rem 2vw;
  }
}

@media (max-width: 1000px) {
  .foot-info {
    flex-direction: column;
  }

  #rights p {
    width: auto;
    height: auto;
    overflow: hidden;
  }

  .foot-certif
  {
    flex-direction: column;
    align-items: center;
    position:static;
  }

  #local-certif
  {
    position: static;
  }

  #lang-select
  {
    margin-top: 1rem;
  }
}

#lang-select
{
  display: flex;
  flex-direction: row;
  
}

#lang-box
{
  background-color: var(--mid-gray);
  border-radius: 0.5rem 0 0 0.5rem;
  padding: .3rem 1rem;
  font-weight: 600;
  font-size: 1.4rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 10rem;
  background-color: var(--light-gray);
  color: #555;
  border-radius:0 0.5rem 0.5rem 0;
  padding: .3rem .8rem;
  font-size: 1.4rem;
  font-weight: 500;
}