h3 {
  border-bottom: 1px solid var(--mid-gray);
  padding: 1rem 0;
  margin: 1rem;
  color: var(--white);
  font-size: 2rem;
}

p {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--mid-gray);
  font-size: 1.5rem;
}

#footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  width: 100%;
  background-color: var(--footer-background);
}

#footer > * {
  display: flex;
}

#footer img {
  object-fit: cover;
  margin: 0.5rem;
  width: auto;
}

.foot-info {
  margin: 0 15vw;
}

.foot-keban {
  flex-flow: column nowrap;
  margin: 0 5vw;
  align-items: center;
  border-bottom: 0.5px solid var(--mid-gray);
}

.foot-certif {
  margin: 0 2rem;
  padding: 1rem 0 6rem 0;
  justify-content: center;
  position: relative;
}

#local-certif {
  position: absolute;
  right: 0;
  transform: translateY(50%);
}

.foot-keban > * {
  padding: 0.5rem 0;
}

.fo-sub-info {
  flex: 1;
  margin: 1rem 2rem;
}

.fo-img > img {
  height: 3rem;
  vertical-align: middle;
}

.etbis > img {
  height: 12rem;
}

#local-certif > img {
  height: 2.5rem;
  margin: 0 1rem;
}

.fl-parent {
  display: flex;
  flex-flow: column nowrap;
}

.footer-links {
  font-size: 1.3rem;
  line-height: 3rem;
  margin: 0 1rem;
}

#fo-sub-contact li {
  color: var(--mid-gray);
  font-size: 1.5rem;
  margin: 0 1rem 1rem 1rem;

}

.sub-contact-icon
{
  color: var(--light-gray);
  margin-right: 0.8rem; 
}

#fo-sub-social
{
  display: flex;
  flex-flow: row nowrap;
  margin: 0 1rem;
  padding-bottom: .5rem;
}

#fo-sub-social > li > a > *
{
  width: 3rem;
  height: 3rem;
  color: var(--mid-gray);
  margin: 0 .5rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 10rem;
  background-color: var(--light-gray);
  color: #555;
  border-radius: .5rem;
  padding: .3rem .6rem;
  margin: 0 .5rem;
}

select::after {
  content: ' ▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}
