.sub-info-box h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  
  .sub-info-box {
    background-image: url("/images/by_bg01.png");
    display: flex;
    justify-content: center;
    max-width: 300rem;
  }
  
  .paraph-box {
    background-color: var(--white);
    padding-bottom: 3rem;
    max-width: 130rem;
    margin-top: 7.5rem;
    margin-bottom: 10rem;
    width: 110rem;
  }
  
  .sub-info-box .paraph-box p {
    font-size: 1.4rem;
  }
  
  .sub-info-box .paraph-box p,
  .sub-info-box .paraph-box h1 {
    padding: 1rem 2.5rem;
  }
  
  .sub-info-box .paraph-box h3 {
    padding: 0.5rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .paraph-box img {
    width: 100%;
    height: 40vh;
    padding: 2rem 2.5rem;
  }
  
  @media (max-width: 1200px) {
    .paraph-box {
      min-width: 80rem;
    }
  }
  
  @media (max-width: 970px) {
    .paraph-box {
      max-width: 60rem;
    }
  }
  
  @media (max-width: 750px) {
    .paraph-box {
      min-width: 30rem;
      max-width: none;
      margin: 5rem auto;
    }
  
    .paraph-box img {
      padding: 1.5rem 2rem;
    }
  }
  