#main-navbar{
    background-color: var(--navbar-bg);
    height: 10rem;
}

.navbar-content
{
    display: flex;
    justify-content: center;
}


.logo-box
{
    background-color: var(--white);
    line-height: 0;
    padding: 1rem 0.2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.logo-box img
{
    height: 9.5rem;
}

#navbar-list
{
    display: flex;
    height: 100%;
}